<!DOCTYPE html>

<title>New Stade</title>

{% block body %}
    <h1>Create new Stade</h1>

    {{ include('stade/_form.html.twig') }}

    <a href="{{ path('stade_index') }}">back to list</a>
{% endblock %}
